@each $weight in 400, 700 {
	@font-face {
		font-weight: $weight;
		font-family: 'europe';
		font-style: normal;
		src: url('/fonts/europe-#{$weight}.woff2') format('woff2');
		font-display: swap;
	}
}
